.nav-lateral {
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  background-color: #8D0194;;
  float: left;
  border-bottom-right-radius: 2px;
  width: 150px;
  height:  100vh;
  overflow: auto;
  
  
}

.nav-lateral a, ul >li {
  list-style: none;
  text-decoration: none;
  background-color: yellow;
  border-radius: 2px;
  padding: 5px 5px 5px 5px;
  /*top left bottom right*/
}



.nav-lateral ul {
  margin-right: 20px;
  width: 100px;
}

.nav-lateral ul li{
  margin-top: 10px;
  margin-right: 10px;
  width: 100px;
  height: 15px;
  font-size: 12px;
}

.nav-lateral ul li Link{
background-color: aqua;
}

