.formContainer{
    width: 75%;
    float: right;
    border-bottom-right-radius: 2px;
    margin: 10px 10px;
    height:  100vh;
    overflow: auto;
}
.BarraSuperior{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8D0194;
    width: 60%;
    height: 30px;
    color: #FFF;
    font-size: 10px;
}
label{
    font-size: 10px;
    color: blue;
    margin-left: 5px;
}
input{
    border-color: #000;
    background-color: #FFF;
    border-width: 0.5PX;
    border-radius: 5px;
    margin-left: 5px;
}

.botao{
    margin-top: 10px;
    background-color: #8D0194;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 20px;
    border-radius: 5px;
    
}
.botao:hover{
    background-color: #ac03b5;
}

.botao a{
    color: #FFF;
    text-decoration: none;
    font-size: 10PX;
}

/* @media only screen and (max-width: 950px) {
    .formContainer {
background-color: #FFF;
      width: 75%;
      float: right;
      border-bottom-right-radius: 2px;
      margin: 10px 10px;
      height:  100vh;
      overflow: auto;
      
    }

    body{
        background-color: #8D0194;
    }
    .InputNomes{
        display: flex;
        flex-direction: column;
    }

    .InputContato{
        display: flex;
        flex-direction: column;
    }
  } */

  
/* @media only screen and (max-width: 750px) {

    body{
        background-color: #8D0194;
    }

    .InputNomes{
        display: flex;
        flex-direction: column;
    }
    input{
        width: 150px;
    }
  } */